@font-face {
  font-family: 'NexaBook';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NexaBook/nexabook.eot');
  src: url('../fonts/NexaBook/nexabook.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NexaBook/nexabook.woff2') format('woff2'),
       url('../fonts/NexaBook/nexabook.woff') format('woff'),
       url('../fonts/NexaBook/nexabook.svg#nexabook') format('svg');	
	
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaBold/NexaBold.eot');
    src: url('../fonts/NexaBold/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaBold/NexaBold.woff2') format('woff2'),
        url('../fonts/NexaBold/NexaBold.woff') format('woff'),
        url('../fonts/NexaBold/NexaBold.svg#NexaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Hijrnotes';
    src: url('../fonts/hijrnotes/Hijrnotes.eot');
    src: url('../fonts/hijrnotes/Hijrnotes.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hijrnotes/Hijrnotes.woff2') format('woff2'),
        url('../fonts/hijrnotes/Hijrnotes.woff') format('woff'),
        url('../fonts/hijrnotes/Hijrnotes.svg#Hijrnotes') format('svg');
    font-weight: normal;
    font-style: normal;
}





html,
body{font-family: 'NexaBook', sans-serif !important;}
a{color: #DBB569}
a:hover{color: #DBB569}
p{text-align: justify;font-family: 'NexaBook', sans-serif !important;}



h1,h2,h3,h4,h5,h6{font-family: 'Nexa', sans-serif !important; overflow: hidden;font-weight: 900;}
h2:after,
h1:after{
  content:'';
      display: block;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 5px;
  margin-right:-100%;
  border-bottom:1px solid #DFCEBC;
}

h1{font-size: 3rem;}
h2{font-size: 2.6rem;}
h3{font-size: 2.1rem;}
h4{font-size: 1.6rem;}
h5{font-size: 1.2rem;}
h6{font-size: 1rem;}


.capa{height: 400px; background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; margin-bottom:0px;}

#footer{height:450px; }

.logo{height: 100px;}
footer .logo{height: 50px;}
footer .logo-jp{height: 100px;}
#mcd-studio{height: 30px;fill:#2d2d2d;}
#menu-menu-jackson{font-family: 'Nexa', sans-serif !important;}
#menu-principal,
.bg-dark{background: #404040 !important;}
.bg-nautico{background: #1A1A1A !important;}

.bg-grey{background: #242323 !important;}
.dark{color: #404040 !important;}
.bg-light{background: #fff !important;}
.light{color: #fff !important;}
.bege{color:#DFCEBC !important;}
.bg-bege{background:#DFCEBC !important;}
.cinza{color:#808080 !important;}
.bg-cinza{background:#808080 !important;}
.bg-dourado{background: #BB9A66 !important;}
.dourado{color: #BB9A66 !important;}
.page-footer{background: #000;color: #fff;padding: 80px 0px;}
.linha{width: 250px; margin: auto; height: 2px;}

.page-footer a{color: #BB9A66;}
.page-footer a:hover{color: #fff;}
.btn-primary{background: #000000; border-color: #000000; color: #ffffff !important;}
.btn-primary:hover{background: #D4A88C; border-color: #D4A88C; color: #ffffff !important;}
.mg-t50{margin-top: 50px;}
.mg-b50{margin-bottom: 50px;}
.mg-t100{margin-top: 100px;}
.mg-b100{margin-bottom: 100px;}
.mg-t150{margin-top: 150px;}
.mg-b150{margin-bottom: 150px;}
.pd-t50{padding-top: 50px;}
.pd-b50{padding-bottom: 50px;}
.pd-t100{padding-top: 100px;}
.pd-b100{padding-bottom: 100px;}
.pd-t150{padding-top: 150px;}
.pd-b150{padding-bottom: 150px;}

.bg-logo-dark{background-image: url(../images/bg-logo-dark.png);background-repeat: no-repeat;}
.bg-logo-light-t{background-image: url(../images/bg-logo-light-t.png);background-repeat: no-repeat;}
.bg-logo-light{background-image: url(../images/bg-logo-light.png);background-repeat: no-repeat;}
.bgp-tr{ background-position: top right;}
.bgp-tc{ background-position: top center;}
.bgp-tl{ background-position: top left;}
.bgp-br{ background-position: bottom right;}
.bgp-bc{ background-position: bottom center;}
.bgp-bl{ background-position: bottom left;}

.underline:after{
    border-bottom:2px solid #D4A88C;
    display: block;
    margin-left:0px;
	margin-top:20px;
    content: " ";
	width:60px;
}


.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
   padding: 5px;
   width: 100%;
}
.wpcf7-submit{width:100%; padding:10px 15px;background: #DBB569;border: none;}
.wpcf7-submit:hover{background: #000;color: #fff;}

.celula{padding:15px !important;}
.ico-social{font-size: 35px;}
.bgWood {background-image: url(../img/wood.svg); background-size: 1920px;}